<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>My Photography Portfolio</title>
  </head>
  <nav class="ui menu">
    <h3 class="header item">My Portfolio</h3>
    <a class="item" href="/photos">Home</a>
    <a class="item" href="/photos/new">New</a>
  </nav>
  <body>
