<% include ./partials/header %>

<h1 class="ui dividing header">My Work</h1>
<div id="content-container" class="ui grid stackable container centered">
  <% photo.forEach(function(photo) { %>
    <div class="ui card stackable four wide column">
      <a href="/photos/<%=photo._id%>">
        <img class="ui big rounded image" src="<%=photo.image%>">
       </a>
      <h4 class="ui header content centered"><%=photo.title%></h4>
    </div>

  <% }); %>
</div>

<% include ./partials/footer %>
