<% include ./partials/header %>

<h1 class="ui dividing header">This is the show page</h1>
<article id="show-container" class="ui container">
  <div class="ui items">
    <div class="content ui segment">
      <div class="ui image">
        <h4 class="ui header centered"><%=photos.title%></h4>
        <img class="ui massive image" src="<%= photos.image %>" alt="">
      </div>
      <div class="description">
        <p><%=photos.description%></p>
      </div>
    </div>
    <div class="ui comments">
      <h3 id="comments-header" class="ui dividing header">Comments</h3>
      <div class="comments">
        <a class="avatar">
          <img src="#" alt="">
        </a>
        <div class="content">
          <a class="author" href="#">Jason</a>
          <div class="metadata">
            <span class="date">Today at 10:30AM</span>
          </div>
          <p class="text"><%=photos.comments%></p>
        </div>

      </div>
    </div>
  </div>
</article>
<% include ./partials/footer %>
