.ui.grid.container {
  margin-top: 1.0em;
}

.ui.card.stackable.four {
  margin-top: 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

#content-container {
  width: 100% !important;
}

#show-container {
  width: 960px;
}

#comments-header {
  width: 960px;
  margin-left: 0%;
}

.metadata {
  display: inline;
  padding-left: 1em;
}

.ui.dividing.header {
  margin-left: 12%;
  margin-right: 12%;

}

.ui.form {
  width: 40%;
  margin: auto;
}

.check.circle.outline.icon {
  padding-left: 1em;
}

.show-buttons {
  float: right;
}

#edit-button {
  margin-right: 1em;
}

.content.ui.segment {
  padding: 1em 1em 3em 1em;
}
